@font-face {
	font-family: 'Ericsson Hilda';
	src: local('Ericsson Hilda');
	src: url('EricssonHilda-Regular.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

body { 
background-image: url("formtest-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
* { box-sizing: border-box; }

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  margin-bottom: 30px;
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.wrapper {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0, .1);
  padding: 27.5px;
}

#contactForm {
  display: block;
}

/* FORM STYLES */

.contact-us {
  margin: 0 0 30px;
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5dc3f2;
}

.contact form {
  border: 0;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: rgba(74, 86, 96, 1);
}

.contact form input, .contact form textarea {
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 200;
  font-size: 14px;
  width: 100%;
  padding: .4em .8em;
  background: rgba(249, 250, 250, .5);
  border: 1px solid rgba(74, 86, 96, .1);
  border-radius: 2.5px;
  outline-color: #5dc3f2;
}

.contact form button {
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  background: #5dc3f2;
  width: 90px;
  height: 30px;
  border: 0;
  border-radius: 15px;
}

.submit-button {
  align-self: center;
  justify-self: end;
}

.contact form button:hover, .contact form button:focus {
  background: #49b0e7;
  color: #fff;
  outline: 0;
  transition: background-color 0.3s ease-out;
}

.required-field {
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 200;
  font-size: 10px;
  color: rgba(74, 86, 96, 0.75);
  align-self: center;
  justify-self: start;
}

span {
  color: #5dc3f2;
}

.alert {
  margin-bottom: 1em;
  padding: 10px;
  background: #49b0e7;
  font-family: 'Ericsson Hilda', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 2.5px;
  display: none;
}
