@font-face {
	font-family: 'Ericsson Hilda';
	src: local('Ericsson Hilda');
	src: url('EricssonHilda-Regular.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

body { 
background-image: url("formtest-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
* { box-sizing: border-box; }

.container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 9em 0;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  margin-bottom: 30px;
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.wrapper {
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0,0,0, .1);
	border:1px solid #878787;
  padding: 16px;
	overflow:auto;
}

#contactForm {
  display: block;
}

/* FORM STYLES */

.contact-us {
    margin: 0 0 16px;
    font-family: 'Ericsson Hilda', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242424;
}

.contact form {
  border: 0;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #242424;
}

.radio-field span {
    margin-bottom: 12px !important;
    display: block;
}

.radio-field input {
    display: inline !important;
    width: auto !important;
}

.radio-field label {
    display: inline !important;
}


p.message-field.full, p.name-field, p.email-field, p.radio-field {
    margin-bottom: 12px !important;
    display: block;
}

.contact form input, .contact form textarea {
    font-family: 'Ericsson Hilda', sans-serif;
    font-weight: 200;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    outline-color: #A56EBE;
}

.contact form button {
    font-family: 'Ericsson Hilda', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: #0077DB;
    width: 130px;
    height: 32px;
    border: 0;
    border-radius: 3px;
    float: right;
}

.submit-button {
  align-self: center;
  justify-self: end;
}

.contact form button:hover, .contact form button:focus {
  background: #0069c2;
  color: #fff;
  outline: 0;
  transition: background-color 0.3s ease-out;
}

.required-field {
  font-family: 'Ericsson Hilda', sans-serif;
  font-weight: 200;
  font-size: 10px;
  color: rgba(74, 86, 96, 0.75);
  align-self: center;
  justify-self: start;
}

span {
  color: #242424;
}

.alert {
  margin-bottom: 1em;
  padding: 16px;
  background: #ffffff;
  font-family: 'Ericsson Hilda', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 0px;
  display: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0, .1);
}
